@import "tailwindcss";

@tailwind utilities;

@import '@fontsource/hepta-slab/400.css';
@import '@fontsource/hepta-slab/600.css';

/* Base styles */
html,
body {
  background-color: #D3CDBF;
  margin: 0;
  padding: 0;
  font-family: 'Hepta Slab', serif;
}

/* Custom color classes */
.bg-arthur-burgundy {
  background-color: #49111C;
}

.text-arthur-beige {
  color: #D3CDBF;
}

.bg-arthur-beige {
  background-color: #D3CDBF;
}

.text-arthur-burgundy {
  color: #49111C;
}